.navbar {
  display:flex;
  align-items: center;
  justify-content: space-between;
  height: 16vh;
}

.navbar > a{
  overflow: hidden;
  background-color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:6vh;
  width: 10%;
}

h1 {
  margin-left: 30px;
  color: white;
  font-size: xxx-large;
}
.sortButton {
  float: left;
  overflow: hidden;
}

.search {
  height: 3vh;
}
.searchSort {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.sortButton,
.dropBtn {
  font-size: 16px;  
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.sortOptions {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.sortOptions a{
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.sortOptions a:hover {
  background-color: #ddd;
}

.dropBtn:hover {
  background-color:red;
  /* display: block; */
}

